twitch_gamers.zip
twitch_gamers/*

sssp/_large_twitch_node_ranks.txt
sssp/_small_twitch_node_ranks.txt
system/utils/_small_twitch_node_ranks.json
the_pregglenator_62000_v15/_large_twitch_vertex_comm.json
the_pregglenator_62000_v15/_large_twitch_assignment_ours.json
